In [12]:
import numpy as np
import pandas as pd

In [13]:
data = pd.read_excel('/media/ljy/datadisk/U/Seismic_Data/Vp_vel_xfj.xls')

In [14]:
data

,x,y,z,vp,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,114.40,23.6,0.20,6.4601,NaN,NaN,NaN,114.40,23.60,0.20,NaN,NaN,NaN,NaN,NaN,NaN
1,114.50,23.6,0.20,6.3809,NaN,NaN,NaN,114.50,23.70,0.16,NaN,NaN,NaN,NaN,NaN,NaN
2,114.55,23.6,0.20,6.3853,NaN,NaN,NaN,114.55,23.73,0.13,6371.0,0.200,6370.800,1000.0,200.0,6171.0
3,114.60,23.6,0.20,6.3748,NaN,NaN,NaN,114.60,23.76,0.10,6371.0,0.196,6370.804,1000.0,196.0,6175.0
4,114.63,23.6,0.20,6.3897,NaN,NaN,NaN,114.63,23.80,0.07,6371.0,0.192,6370.808,1000.0,192.0,6179.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,114.63,24.0,-0.01,4.9200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
644,114.66,24.0,-0.01,4.9200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
645,114.70,24.0,-0.01,4.9200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
646,114.80,24.0,-0.01,4.9200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647,115.00,24.0,-0.01,4.9489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
data_x = data.sort_values(by=['x','y','z'], ascending=[True, True, False])

TypeError: sort_values() got an unexpected keyword argument 'reverse'

In [18]:
data_x

,x,y,z,vp,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,114.4,23.6,0.20,6.4601,NaN,NaN,NaN,114.4,23.6,0.2,NaN,NaN,NaN,NaN,NaN,NaN
81,114.4,23.6,0.16,6.0703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,114.4,23.6,0.13,5.9603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,114.4,23.6,0.10,6.1465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
324,114.4,23.6,0.07,6.0185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,115.0,24.0,0.10,6.3800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404,115.0,24.0,0.07,6.1065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485,115.0,24.0,0.03,5.3762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566,115.0,24.0,0.00,5.0775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647,115.0,24.0,-0.01,4.9489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
9*9*8

In [ ]:
9*9*70

In [ ]:
9*80*70

In [ ]:
80*80*70

In [ ]:
data_ds = data_x.loc[:,['vp']].values.flatten()
data_ds

In [ ]:
data_dt = data_ds.tolist()

In [ ]:
f = open('/media/b410/DATA/data/Seismic_data/xfj_vp_raw','wt')
f.writelines('%d\n' % 1)
f.writelines(str(len(data_ds)) + '\n')
for j in range(len(data_ds)):
    f.writelines(str(data_ds[j]) + '\n')
f.close()